.navbar {
  background: #bdbdbd;
  padding: 0 0.5rem;
}

.container {
  display: flex;
  max-width: 48rem;
  margin: 0 auto;
  justify-content: space-between;
}

.container.centered {
  justify-content: center;
}

.container > h1 {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}

.container > ul {
  display: flex;
  list-style: none;
}

.container > ul > li {
  background: #afafaf;
}

.container > ul > li > a {
  display: inline-flex;
  padding: 8px 12px 8px 12px;
}
